@font-face {
  font-family: "Medula One";
  src: url(fonts/MedulaOne-Regular.ttf);
}
html {
  filter: saturate(120%);
  overflow-x: hidden;
}
#grain {
  width: 100%;
  height: 100vh;
  position: fixed !important;
  z-index: 100;
  pointer-events: none;
}
body,
* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}
h1 {
  font-family: "Medula One";
  font-size: 20vw;
  color: #2c7f96;
  margin: 0;
  margin-top: 20vh;
  position: relative;
  pointer-events: none;
}
#heropage {
  width: 100%;
  height: 100vh;

  background-color: #6cd9dd;
  display: flex;
  justify-content: center;
}
.link {
  width: max(30vw, calc(30 * 13px));
  height: max(20vw, calc(20 * 13px));
  position: absolute;
  bottom: 0;
  pointer-events: all;
}
.headimage {
  position: absolute;
  /* width: calc(100vw - 1px); */
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  z-index: 101;
  pointer-events: none;
}
.mainimage {
  position: absolute;
  width: max(80vw, calc(80 * 13px));
  height: auto;
  bottom: min(-10vw, calc(-10 * 13px));
  /*    left: max(9vw, calc(9 * 13px));*/
  pointer-events: none;
  filter: saturate(120%);
}
.eyes {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 102;
  pointer-events: none;
}
.eye {
  position: absolute;
  width: max(10vw, calc(10 * 13px));
  height: max(7vw, calc(7 * 13px));
  bottom: max(5vw, calc(5 * 13px));
  background-image: url("images/Vector1.svg");
  background-size: max(10vw, calc(10 * 13px));
  background-position: center;
  background-repeat: no-repeat;
  mask-image: url("images/Vector1.svg");
  mask-position: center;
  mask-size: max(10vw, calc(10 * 13px));
  mask-repeat: no-repeat;
}

.eyes .left {
  left: 39vw;
}
.eyes .right {
  right: 36.5vw;
}

.iris {
  height: max(5vw, calc(5 * 13px));
  width: auto;
  position: relative;
  transition: transform 0.1s ease-out;
}

.aboutpage {
  width: 100%;
  height: 170vh;
  display: flex;
  background-color: #f0f3ae;
  flex-wrap: wrap;
}
.aboutpage h2 {
  font-family: "League Gothic", sans-serif;
  font-size: 15vw;
  font-weight: 100;
  margin: 3vw 10vw;
  color: #635f40;
  position: sticky;
  z-index: 101;
}
.oval1 {
  height: 60vh;
  width: 17vw;
  background-color: #794747;
  margin-left: 20vw;
  border-radius: 0 0 10vw 10vw;
  position: sticky;
  z-index: 101;
}
.oval2 {
  height: 65vh;
  width: 17vw;
  background-color: #794747;
  margin-left: 20vw;
  border-radius: 10vw;
  position: relative;
  top: -10vh;
  z-index: 101;
}
#abouttext {
  margin-top: 3vh;
  font-size: 3vh;

  height: 20vw;
  position: sticky;
  z-index: 101;
}
.aboutpage p {
  color: #794747;
  width: 40vw;
  margin-top: 3vw;
  margin-left: 10vw;
  font-family: "Kavoon", serif;
}
.oval2 img {
  width: 17vw;
  height: auto;
  position: relative;
  top: calc(65vh - 17vw);
  border-radius: 0 0 50vw 50vw;
}
.oval1 img {
  width: 25vw;
  height: auto;
  position: relative;
  top: calc(60vh - 25vw);
  right: 5vw;
}
.wall {
  width: 100%;
  height: auto;
  background-color: #f0f3ae;
  display: block;
}
.projects {
  background-image: url(images/picnic.png);
  width: 100%;
  /* height: calc(0.9 * 100vw); */
  /* height: 170vh; */
  background-size: 100%;
  background-position: center;
  background-repeat: repeat;
}
.container {
  padding-top: 10vh;
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* gap: 30vh; */
}
.projimg {
  width: 30vh;
  height: calc(30vh * 1.2816);
  position: relative;
  box-shadow: 2px 5px 31px -1px rgba(0, 0, 0, 0.75);
  z-index: 101;
  margin: 15vh 15vh;
}

.projects .img1 {
  transform: rotateZ(-30deg);
}
.projects .img2 {
  transform: rotateZ(20deg);
}
.projects .img3 {
  transform: rotateZ(-10deg);
}
.projects .img4 {
  transform: rotateZ(10deg);
}
.projects .img5 {
  transform: rotateZ(-20deg);
}
.projects .img6 {
  transform: rotateZ(30deg);
}

#valorantCG {
  width: 100%;
  height: fit-content;
  background-color: #8f53d4;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  position: relative;
  flex-direction: column;
}
#videoFrame {
  width: 63%;
  height: auto;
  aspect-ratio: 9/14.5;
  position: absolute;
  left: auto;
  top: -33%;
  pointer-events: none;
  transform: rotateZ(90deg);
  z-index: 5;
}
#videoContainer {
  width: 80%;

  /* height: 44%; 
  height: fit-content;*/
  aspect-ratio: 10/6;
  /* background-color: #8f53d4; */
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 5vw;
}
#videoContainer video {
  width: 71%;
  height: auto;
  position: absolute;
  left: 14%;
  top: 18%;
  z-index: 4;
}
h4 {
  font-size: 1.5vw;
  text-align: center;
  padding: 1vw;
}
.textBorder {
  width: fit-content;
  height: fit-content;
  background-color: #fce1f6;
  margin-top: 3vw;
  margin-bottom: 10vw;
  transition: box-shadow 0.2s ease-in-out;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}
.textBorder :hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.2s ease-in-out;
}

.contact {
  width: 100%;
  height: 170vh;
  display: flex;
  background-color: #a6ebb5;
  flex-wrap: wrap;
}
.contact h2 {
  font-family: "League Gothic", sans-serif;
  font-size: 15vw;
  font-weight: 100;
  margin: 3vw 10vw;
  color: #406346;
  position: sticky;
  z-index: 101;
  height: 20vw;
}
#contacttext {
  margin-top: 10vh;
  margin-left: 10vw;
  font-size: 3vh;

  height: 20vw;
  position: relative;
  top: -20vh;
  z-index: 101;
}
.contact p {
  color: #406346;
  width: 40vw;
  margin-top: 0.5vw;
  margin-left: 5vw;
  font-family: "Kavoon", serif;
}
.circle1 {
  height: 25vw;
  width: 25vw;
  background-color: #2a4a4d;
  margin-left: 10vw;
  margin-top: 5vw;
  border-radius: 50%;
  position: sticky;
  z-index: 101;
}
.circle2 {
  height: 30vw;
  width: 30vw;
  background-color: #2a4a4d;
  margin-left: 5vw;
  border-radius: 50%;

  position: relative;
  top: -10vh;
  z-index: 101;
}
.icon {
  width: 3vw;
  height: auto;
}

.contactlink {
  color: #2a4a4d !important;
  margin-left: 1vw !important;
}
.email {
  display: flex;
  flex-direction: row;
  margin-left: 5vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}
a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
li {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-left: 5vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}
.circle1 img {
  width: 50vw;
  height: auto;
  position: relative;
  right: -15vw;
  bottom: 3vw;
  transform: rotateZ(-55deg);
  filter: saturate(75%);
}
#mask1 {
  mask: url("images/mask_1.svg");
  mask-size: 65vw;
  mask-position: 0.2vw -1.2vw;
  mask-repeat: no-repeat;
  /* background-image: url("images/mask_1.svg");
  background-size: 65vw;
  background-position: 0.2vw -1.2vw; */
  width: 70vw;
  transform: translateX(-40vw);
}

.circle2 img {
  width: 50vw;
  height: auto;
  position: relative;
  right: 7vw;
  top: 20vw;
  transform: rotateZ(-60deg);
  filter: saturate(75%);
}
#mask2 {
  mask: url("images/mask_2.svg");
  mask-size: 49vw;
  mask-position: -0.3vw 2.8vw;
  mask-repeat: no-repeat;
  /* background-image: url("images/mask_2.svg");
  background-size: 49vw;
  background-position: -0.1vw 3vw; */
  width: 70vw;
  height: 60vw;
  transform: translateY(-20vw);
}
#footer {
  width: 100%;
  height: 70vh;
  background-color: #ed7368;
  position: relative;
}
h3 {
  font-family: "Fugaz One", sans-serif;
  font-size: 10vw;
  text-align: right;
  font-weight: 100;
  color: #fff;
  position: sticky;
  z-index: 101;
  transform: rotate(20deg);
  line-height: 10vw;
  position: relative;
  top: -5vw;
  right: 5vw;
}
#footer img {
  width: 30vh;
  height: auto;
  position: absolute;
  bottom: 0;
  z-index: 102;
}
#footer p {
  position: absolute;
  bottom: 10vh;
  right: 20vw;
  font-family: "Roboto", sans-serif;
  font-size: 3vw;
  color: #fff;
  z-index: 101;
  width: 30vw;
  text-align: right;
}
#gallery {
  width: 100%;
  height: 350vw;
  background-color: #ceaef3;
  display: flex;
  flex-wrap: wrap;
}
#ground {
  width: 100%;
  height: 10vw;
  background-color: #8673aa;
}
#gallerycontainer img {
  position: absolute;
  z-index: 101;
  width: 30vw;
  height: auto;
  filter: saturate(75%) !important;
}
#smallpaintings img:nth-child(1) {
  top: calc(100vh + 10vw);
  left: 20vw;
}
#smallpaintings img:nth-child(2) {
  top: calc(100vh + 30vw);
  left: 60vw;
}
#smallpaintings img:nth-child(3) {
  top: calc(100vh + 50vw);
  left: 20vw;
}
#smallpaintings img:nth-child(4) {
  top: calc(100vh + 70vw);
  left: 55vw;
}
#smallpaintings img:nth-child(5) {
  top: calc(100vh + 90vw);
  left: 20vw;
}
#smallpaintings img:nth-child(6) {
  top: calc(100vh + 110vw);
  left: 60vw;
}
#smallpaintings img:nth-child(7) {
  top: calc(100vh + 130vw);
  left: 15vw;
}
#smallpaintings img:nth-child(8) {
  top: calc(100vh + 140vw);
  left: 62vw;
}
#smallpaintings img:nth-child(9) {
  top: calc(100vh + 165vw);
  left: 20vw;
}
#smallpaintings img:nth-child(10) {
  top: calc(100vh + 170vw);
  left: 55vw;
}
#smallpaintings img:nth-child(11) {
  top: calc(100vh + 200vw);
  left: 20vw;
}
#smallpaintings img:nth-child(12) {
  top: calc(100vh + 210vw);
  left: 60vw;
}
#smallpaintings img:nth-child(13) {
  top: calc(100vh + 235vw);
  left: 25vw;
}

#bigpainting {
  top: calc(100vh + 290vw);
  left: 25vw;
  width: 50vw !important;
}

@media screen and (max-width: 1300px) {
  .eyes .left {
    left: calc(50% + (1300px * 0.39 - 650px));
  }
  .eyes .right {
    right: calc(50% + (1300px * 0.365 - 650px));
  }
}
@media screen and (max-width: 800px) {
  .contact {
    height: 100vh !important;
  }
  #footer p {
    font-size: 6vw !important;
    bottom: 20vh !important;
    right: 5vw !important;
    width: 30vw !important;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 40vw;
    text-align: center;
    margin-top: 10vh;
  }
  #wallcontainer {
    overflow-x: hidden;
  }
  .wall {
    width: auto;
    height: 100vh;
  }
  .aboutpage {
    height: 100vh;
    flex-shrink: 0;
  }
  .oval1 {
    height: 35vh;
    width: 30vw;
    margin-left: 0vw;
    border-radius: 0 0 15vw 15vw;
  }
  .oval2 {
    height: 30vh;
    width: 30vw;
    margin-left: 10vw;
    border-radius: 15vw;
    top: 10vh;
  }
  .oval1 img {
    width: 40vw;
    height: auto;
    position: relative;
    top: calc(35vh - 40vw);
    right: 5vw;
  }
  .oval2 img {
    width: 30vw;
    height: auto;
    position: relative;
    top: calc(30vh - 30vw);
    border-radius: 0 0 15vw 15vw;
  }
  .aboutpage h2 {
    font-size: 25vw;
  }
  #abouttext {
    font-size: 5vw;
    line-height: 6.5vw;
  }
  #abouttext #p1 {
    position: absolute;
    top: -30vh;
    left: -35vw;
  }
  #abouttext #p2 {
    position: absolute;
    top: -13vh;
    left: -35vw;
    width: 80vw;
  }
  #abouttext #p3 {
    position: absolute;
    top: 5vh;
    left: 0vw;
  }
  .container img {
    width: 50vw;
    height: auto;
  }

  /* contact */
  .contact {
    height: 120vh;
  }
  .contact h2 {
    font-size: 20vw;
    margin-right: 0;
  }
  #contactp1 {
    position: absolute;
    top: -20vh;
    left: -40vw;
    width: 70vw;
  }
  #contacttext {
    top: -3vh;
  }

  .email {
    position: absolute;
    top: -7vh;
    left: -40vw;
    width: 70vw;
  }
  .icon {
    width: 5vw;
    height: auto;
  }
  li .icon {
    margin-left: 4vw;
  }
  ul {
    margin-top: 5vw;
  }
  .circle1 {
    transform: scale(1.3) rotateZ(-10deg) translateY(5vh);
  }
  .circle2 {
    top: 30vh;
    transform: scale(1.5) rotateZ(-10deg) translateY(-2vh);
  }
  .container img {
    width: 50vw;
    height: auto;
  }
  /* gallery */
  #bigpainting {
    top: calc(100vh + 370vw);
    left: 10vw;
    width: 80vw !important;
  }
  #smallpaintings img {
    width: 40vw;
    height: auto;
    position: static;
    margin: 5vw 0;
  }
  #smallpaintings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #gallery {
    height: 490vw;
  }
  #footer {
    width: 100%;
    height: 50vh;
    background-color: #ed7368;
    position: relative;
  }
  h3 {
    font-family: "Fugaz One", sans-serif;
    font-size: 15vw;
    text-align: right;
    font-weight: 100;
    color: #fff;
    position: sticky;
    z-index: 101;
    transform: rotate(20deg);
    line-height: 15vw;
    position: relative;
    top: 3vw;
  }
  #footer img {
    width: 30vh;
    height: auto;
    position: absolute;
    bottom: 0;
    z-index: 102;
  }
  #footer p {
    position: absolute;
    bottom: 10vh !important;
    right: 5vw;
    font-family: "Roboto", sans-serif;
    font-size: 5vw;
    color: #fff;
    z-index: 101;
    width: 40vw;
    text-align: right;
  }
}
@media screen and (min-width: 1000px) {
  #footer h3 {
    font-size: 8vw;
    line-height: 8vw;
    top: -5vw;
    right: 5vw;
  }
  #footer img {
    width: 60vh;
  }
  #footer p {
    font-size: 2vw;
    bottom: 7vh;
    right: 20vw;
    width: 40vw;
  }
}
